<#macro parentHead>
</#macro>

<#macro parentScripts>
</#macro>

<#macro myLayout title="Educator">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/assets/theme/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/theme/js/jquery.min.js"></script>
    <script src="/assets/theme/js/bootstrap.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/assets/theme/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/theme/css/jquery.countdown.css" />

    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <!----font-Awesome----->
    <link href="/assets/theme/css/font-awesome.css" rel="stylesheet">
    <!----font-Awesome----->
    <script>
      $(document).ready(function(){
        $(".dropdown").hover(
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
              $(this).toggleClass('open');
            },
            function() {
              $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
              $(this).toggleClass('open');
            }
        );
      });
    </script>

    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <@parentHead/>

  </head>
<body>

        <#include "header.ftl.html"/>
        
        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        <#include "footer.ftl.html"/>
        
    <script src="/assets/theme/js/jquery.countdown.js"></script>
    <script src="/assets/theme/js/script.js"></script>
    <@parentScripts/>
</body>
</html>
</#macro>