<div class="footer">
  <div class="container">
    <div class="col-md-3 text-right">
      <ul class="social-nav icons_2 clearfix">
        <h3>Be in our community</h3>
        <li style="float: right"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li style="float: right"><a href="https://www.facebook.com/University-Guide-1198707890145675" class="facebook"> <i class="fa fa-facebook"></i></a></li>
        <li style="float: right"><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <p>Copyright © 2015 UG.KG University Guide in Central Asia. <br>All Rights Reserved  | Design by <a href="https://www.behance.net/zubaidullo" target="_blank">Z++ Design & Art</a> </p>
    </div>
    <div class="col-md-3 text-left">
      <h3>Contact Us</h3>
      <p>
        <abbr>Telephone : </abbr>+996 (554) 606602<br>
        <abbr>Email : </abbr> ug.kg@gmail.com</a>
      </p>
    </div>
  </div>
</div>