<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" style="color: white"><img class="img" style="width: 100px" src="/assets/img/ug_logo.png">University Guide in Central Asia</a>
		</div>
		<!--/.navbar-header-->
		<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
			<ul class="nav navbar-nav" style="width: 50%">
				<li class="dropdown" style="width: 20%">
					<a href="/"><i class="fa fa-home"></i><span>Home</span></a>
				</li>
				<li class="dropdown" style="width: 20%">
					<a href="/about"><i class="fa fa-group"></i><span>About</span></a>
				</li>

				<li class="dropdown" style="width: 20%">
					<a href="/universities"><i class="fa fa-rocket"></i><span>Universities</span></a>
				</li>
				<li class="dropdown" style="width: 20%">
					<a href="/tips-advises"><i class="fa fa-key"></i><span>Tips & Advises</span></a>
				</li>
				<li class="dropdown" style="width: 20%">
					<a href="/profile"><i class="fa fa-user"></i><span>Profile</span></a>
				</li>

			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--/.navbar-collapse-->
</nav>
<nav class="navbar nav_bottom" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header nav_2">
			<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>
	</div>
</nav>