<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
          <!-- banner Slider starts Here should be top of page-->
          <script src="/assets/theme/js/responsiveslides.min.js"></script>
          <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });

            });
          </script>
        </#macro>
        <#macro scripts>

        </#macro>

  <@layout.myLayout "Home page">


    <div class="banner">

      <!--//End-slider-script -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-bg">
              <div class="container">
                <div class="banner-info">
                  <h3>Enter your test score, <br>find your University</h3><br>
                  <div class="col-sm-10 dropdown-buttons">
                    <div class="col-sm-3 dropdown-button"></div>
                    <form id="search_form" action="/university/search" method="POST">
                      <div class="col-sm-2 dropdown-button">
                        <div class="section_1">
                          <select id="examType" name="examType" class="frm-field required">
                            <option value="SAT">SAT</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3 dropdown-button">
                        <div class="input-group">
                          <input class="form-control has-dark-background" name="slider-name" id="slider-name" placeholder="Test score" type="text" required="">
                        </div>
                      </div>
                      <div class="col-sm-4 submit_button">
                          <input type="submit" value="Search for University">
                      </div>
                    </form>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid_1">
      <div class="container">
        <div class="col-md-5">
          <div class="news">
            <h1>General Information</h1>
            <div class="section-content">
              <article>
                <h3 class="date"><i class="fa fa-file-o"></i>What is SAT?</h3>
                <a href="#">SAT is asdasd asdas d...........</a>
              </article>
              <article>
                <h3 class="date"><i class="fa fa-file-o"></i>What is TOEFL?</h3>
                <a href="#">It is a long established fact that a reader will be distracted.</a>
              </article>
              <article>
                <h3 class="date"><i class="fa fa-file-o"></i>How to motivate yourself</h3>
                <a href="#">It is a long established fact that a reader will be distracted.</a>
              </article>
            </div><!-- /.section-content -->
          </div><!-- /.news-small -->
        </div>
        <div class="col-md-7 grid_1_right">
          <h2>Programs</h2>
          <div class="but_list">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Day 1&nbsp;&nbsp;&nbsp;31-08-2015</a></li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Day 2&nbsp;&nbsp;&nbsp;01-09-2015</a></li>
                <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Day 3&nbsp;&nbsp;&nbsp;05-09-2015</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t9.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t5.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t8.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t2.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t7.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>09:00 - 10:30</div>
                      <div class="icon_2"><i class="fa fa-location-arrow"></i>Room A</div>
                      <div class="icon_2">
                        <div class="speaker">
                          <i class="fa fa-user"></i>
                          <div class="speaker_item">
                            <a href="#">Lorem Ipsum</a>
                          </div>
                          <div class="clearfix"></div></div>
                      </div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Welcoming and introduction</a></h3>
                      <p>Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.... <a href="#">Read More</a></p>
                      <img src="/assets/theme/images/t4.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="bg">
      <div class="container">
        <div class="timer_wrap">
          <div id="counter"> </div>
        </div>
        <div class="newsletter">
          <form>
            <input type="text" name="ne" size="30" required="" placeholder="Please fill your email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>

  </@layout.myLayout>