<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
        </#macro>
        <#macro scripts>
        </#macro>

  <@layout.myLayout "University Guide in Central Asia | University list">

      <div class="courses_banner">
        <div class="container">
          <br><br><br>
          <form id="search_form" action="/users/register" method="POST">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
              <div class="input-group">
                <input class="form-control has-dark-background" name="email" id="email" placeholder="Enter your E-mail" type="text" required="">
              </div>
            </div>
            <div class="col-sm-3 submit_button">
              <input type="submit" value="Get your snack of Motivation">
            </div>
          </form>
        </div>
      </div>
      <!-- //banner -->
      <div class="admission">
        <div class="container">
          <#list universities as university>
            <div class="col-md-4 faculty_grid" style="padding-top: 10px">
              <figure class="team_member">
                <img src="/assets/img/${university.imageUrl}" class="img-responsive wp-post-image" alt=""/>
                <div></div>
                <figcaption><h3 class="person-title"><a href="/universities/${university.id}">${university.name}</a></h3>
                  <span class="person-deg"><#if university.address??>Address: ${university.address}</#if></span>
                </figcaption>
              </figure>
            </div>
          </#list>

            <div class="clearfix"> </div>
        </div>
      </div>

  </@layout.myLayout>