<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
        </#macro>
        <#macro scripts>
        </#macro>

  <@layout.myLayout "University Guide in Central Asia | About ">

      <div class="courses_box1">
        <div class="container">
          <div class="col-md-6 about_left">
            <h1>About us</h1>
            <h4></h4>
            <p>We are team of students who faced the same problem as the regular high school graduate: Which university to apply? Searching the requirements, scholarship opportunities, deadlines of each university is a hard and wearying process. We offer a platform where students can find suitable universities according to their SAT, ORT, TOEFL, IELTS scores. At the same time we encourage to achieve higher goals.</p>
          </div>
          <div class="col-md-6">
            <img src="/assets/img/about-us.jpg" class="img-responsive" alt=""/>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>

    </@layout.myLayout>