<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
          <!-- banner Slider starts Here should be top of page-->
          <script src="/assets/theme/js/responsiveslides.min.js"></script>
          <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });

            });
          </script>
        </#macro>
        <#macro scripts>

        </#macro>

  <@layout.myLayout "University Guide in Central Asia">


    <div class="banner">

      <!--//End-slider-script -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-bg">
              <div class="container"><br>
                <div class="banner-info text-center">
                  <h3>Enter your test score, find your University</h3><br>
                  <div class="col-sm-12 dropdown-buttons">
                    <div class="col-sm-1 dropdown-button"></div>
                    <form id="search_form" action="/universities" method="POST">
                      <div class="col-sm-3 dropdown-button">
                        <div class="section_1">
                          <select id="examType" name="examType" class="frm-field required">
                            <option value="SAT">SAT</option>
                            <option value="TOEFL">TOEFL</option>
                            <option value="ORT">ORT</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-3 dropdown-button">
                        <div class="input-group">
                          <input class="form-control has-dark-background" name="test-score" id="test-score" placeholder="Test score" type="text" required="">
                        </div>
                      </div>
                      <div class="col-sm-4 submit_button">
                          <input type="submit" value="Search for University">
                      </div>
                      <div class="col-sm-12 submit_button">
                        <br>
                        <a href="/registration" class="btn btn-primary" style="width: 40%; background-color: #199510;color: #fff;text-transform: uppercase;font-size: 1.1em;font-weight: 500;border: none;padding: 9px 0px;outline: none;">Create your exam organizer</a>
                      </div>
                    </form>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid_1">
      <div class="container">
        <div class="col-md-5">
          <div class="news">
            <h1>General Information</h1>
            <div class="section-content">
              <article>
                <h3 class="date"><i class="fa fa-file-o"></i>What is SAT?</h3>
                The SAT is a standardized test widely used for college admissions in the United States. It was first introduced in 1926, and its name and scoring have changed several times, being originally called the Scholastic Aptitude Test, then the Scholastic Assessment Test, then the SAT Reasoning Test, and now simply the SAT.
              </article>
              <article>
                <h3 class="date"><i class="fa fa-file-o"></i>What is TOEFL?</h3>
                Test of English as a Foreign Language (TOEFL, /ˈtoʊfəl/, toh-fəl) is a standardized test of English language proficiency for non-native English language speakers wishing to enroll in US universities. The test is accepted by many English-speaking academic and professional institutions. TOEFL is one of the two major English-language tests in the world, the other being the IELTS.
              </article>
            </div><!-- /.section-content -->
          </div><!-- /.news-small -->
        </div>
        <div class="col-md-7 grid_1_right">
          <h2>Last events</h2>
          <div class="but_list">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">SAT</a></li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">TOEFL</a></li>
                <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">ORT</a></li>
                <li role="presentation"><a href="#profile2" role="tab" id="profile-tab2" data-toggle="tab" aria-controls="profile2">University Ranking</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>Tuesday, December 13, 2015 at 4am</div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3><a href="#">Changes to the methodology this year</a></h3>
                      <p>Changes to the methodology this year relate to the “citations per faculty” indicator. Assessed using data from Scopus, the world’s largest database of research abstracts and citations, this indicator reflects the impact and reach of each university’s research, relative to the size of its faculty.
                        The citations per faculty indicator contributes 20% to the overall ranking results, alongside indicators which assess academic reputation (40%), employer reputation (10%), student/faculty ratio (20%), and proportions of international faculty and students (5% each).</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>October 05, 2015</div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3>Official TOEFL iBT ® Tests with Audio is now an eBook</h3>
                      <p>The TOEFL® program has released its bestselling prep book, Official TOEFL iBT® Tests with Audio, Volume 1, as an ebook. With 5 real past TOEFL iBT tests, the book is ideal for test takers looking to get lots of practice using authentic test questions. Download it now from the ETS Store.</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>September 13, 2015</div>
                    </div>
                    </div>
                    <div class="event_right">
                      <h3>National Scholarship Test (ORT)</h3>
                      <p>National Scholarship Test (ORT) - a mandatory exam for all students who enroll in universities of Kyrgyzstan.
                        National testing is carried out in Kyrgyzstan in 2002 by Presidential Decree. The "National Scholarship Test" administered by the Center for Educational Assessment and Teaching Methods (CEATM) in close cooperation with the Ministry of Education and Science of the Kyrgyz Republic, with the financial support of the US Agency for International Development (USAID). Since 2011, the results of Republic-wide testing became mandatory for admission not only in the form of training grants, contract and daily form of education in universities of Kyrgyzstan.
                        The tests were developed by the independent testing organization CEATM based on the best world achievements testology. Testing is designed to identify students who are most likely to successfully continue their studies at higher educational institutions. The test is conducted in Kyrgyz and Russian (up to 2013 and in Uzbek) languages ​​and all versions of the test are equivalent in complexity. In testing applicants must demonstrate the ability to think and apply their knowledge in school.</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile2" aria-labelledby="profile-tab2">
                  <div class="events_box">
                    <div class="event_left"><div class="event_left-item">
                      <div class="icon_2"><i class="fa fa-clock-o"></i>Tuesday, September 13, 2015 at 4am</div>
                    </div>

                    </div>
                    <div class="event_right">
                      <h3><a href="#">QS World University Rankings 2015/16 – Coming Soon!</a></h3>
                      <p>The QS World University Rankings® 2015/16 will be published on TopUniversities.com on 15 September 2015. This will be the 12th edition of this annual ranking of the world’s top universities, which draws on six performance indicators to rank more than 800 institutions.</p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>

  </@layout.myLayout>