<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
        </#macro>
        <#macro scripts>
        </#macro>

  <@layout.myLayout "University Guide in Central Asia | Tips & Advises">

      <div class="bg_1">
        <div class="container">
          <h2>Tips & Advises</h2>
          <div class="col-md-3 team_grid">
            <div class="team">
              <img src="/assets/theme/images/team1.jpg" class="img-responsive" alt="">
              <div class="team_box">
                <h3>slightly believable</h3>
                <p>Economics</p>
                <ul class="team-socials">
                  <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <img src="/assets/theme/images/team4.jpg" class="img-responsive" alt="">
              <div class="team_box">
                <h3>slightly believable</h3>
                <p>Economics</p>
                <ul class="team-socials">
                  <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <img src="/assets/theme/images/team2.jpg" class="img-responsive" alt="">
              <div class="team_box">
                <h3>slightly believable</h3>
                <p>Economics</p>
                <ul class="team-socials">
                  <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <img src="/assets/theme/images/team3.jpg" class="img-responsive" alt="">
              <div class="team_box">
                <h3>slightly believable</h3>
                <p>Economics</p>
                <ul class="team-socials">
                  <li><a href="#"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="#"><span class="icon-social "><i class="fa fa-twitter"></i></span></a></li>
                  <li><a href="#"><span class="icon-social"><i class="fa fa-google-plus"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>

  </@layout.myLayout>