<#import "../layout/defaultLayout.ftl.html" as layout>

  <#assign parentHead = styles in layout>
    <#assign parentScripts = scripts in layout>

        <#macro styles>
        </#macro>
        <#macro scripts>
        </#macro>

  <@layout.myLayout "University Guide in Central Asia | Tips & Advises">

      <div class="bg_1">
        <div class="container">
          <h3 style="color: white; font-size: xx-large;">Advises of successful people from your region</h3>
          <div class="col-md-3 team_grid">
            <div class="team">
              <a href="/guide"><img src="/assets/img/advisors/maksim.jpg" class="img-responsive" alt=""></a>
              <div class="team_box">
                <h3>Maksim Stepanenko</h3>
                <p>Software Engineer</p>
                <p>MIT</p>
                <ul class="team-socials">
                  <li><a href="https://www.facebook.com/maksim.stepanenko"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="https://www.linkedin.com/profile/view?id=AAkAAAbJ4BUB3_CPUG-PwtSuA6tqC7ufFLK0UoA"><span class="icon-social"><i class="fa fa-linkedin"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <a href="/guide"><img src="/assets/img/advisors/kairat.jpg" class="img-responsive" alt=""></a>
              <div class="team_box">
                <h3>Kairat Dochshanov</h3>
                <p>Electronic Engineer</p>
                <p>Carnegie Mellon University</p>
                <ul class="team-socials">
                  <li><a href="https://www.facebook.com/kairatd"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <a href="/guide"><img src="/assets/img/advisors/dilmurat.jpg" class="img-responsive" alt=""></a>
              <div class="team_box">
                <h3>Dilmurat Moldobaev</h3>
                <p>Chemistry Prof.Assistant</p>
                <p>MIT</p>
                <ul class="team-socials">
                  <li><a href="https://www.linkedin.com/in/dilmuratm"><span class="icon-social"><i class="fa fa-linkedin"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 team_grid">
            <div class="team">
              <a href="/guide"><img src="/assets/img/advisors/kainar.jpg" class="img-responsive" alt=""></a>
              <div class="team_box">
                <h3>Kainar Kamalov</h3>
                <p>Ph.D. Candidate/RA/TA</p>
                <p>Harvard University</p>
                <ul class="team-socials">
                  <li><a href="https://www.facebook.com/zamir.akimbekov"><span class="icon-social "><i class="fa fa-facebook"></i></span></a></li>
                  <li><a href="https://www.linkedin.com/profile/view?id=AAkAAAvkc78BARjC0OvKvXIbWARuyj-IVkcUUsQ"><span class="icon-social"><i class="fa fa-linkedin"></i></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="features">
        <div class="container">
          <div class="col-sm-12 text-center">
            <h2>10 SAT Exam Tips for International Students:</h2>
          </div>
          <h2>1. Sit Your SAT Exam Early:</h2>
          <p>If you apply for and sit the SAT exam earlier in the year, you have more opportunities to sit the exam again if it doesn’t go to plan the first time. The SAT’s run throughout the calendar year but if you opt to take the last available exam, you won’t be able to take it again until the following year so be careful with your options.</p>
          <h2>2. Study Hard:</h2>
          <p>Studying overseas can be an exciting opportunity, you will get to experience different cultures and make new friends, but as Susie mentioned to us, “Study hard in your school exams as it is good to have a back up plan”. If the SAT exam does not work out, make sure you have something to fall back on.</p>
          <h2>3. Research:</h2>
          <p>While studying abroad can be advantageous and exciting, make sure your qualification is recognised when you get back home. Susie advises that you do “thorough research” into your University and course of choice.</p>
          <h2>4. Understand Scholarship Opportunities:</h2>
          <p>Scholarships are a great way to get into a University and can relieve a student (or their parents) of financial strain. If you believe you have a particular skill-set, “Check to see if your University of choice has scholarship opportunities”. These may be obtained through sport like Susie did, or through entrance exams.</p>
          <h2>5. Do an SAT Prep Course: </h2>
          <p>As Susie mentions in the full length interview, the SAT exam is very different in its format than any school exam you will sit in your locale. With this in mind, “Make sure you do a SAT prep course“. You simply will not be able to walk into the SAT and do well, you need to become familiar with areas such as timing and formatting.</p>
          <h2>6. Cut The Costs:</h2>
          <p>In our SAT costs section we focused on the various cost factors of the SAT for international students. “Avoid additional fees by getting your registration done early on”. When you total everything up, sitting the SAT from overseas can become expensive. So take Susie’s advice and have all your paper work ready in time.</p>
          <h2>7. Manage Your Time:</h2>
          <p>Similarly to when you sit the SAT exam, time management is crucial during your application period. “Allow plenty of time for the processing of your application”. The last thing you want to do is send off your application and have it arrive when the window is closed.</p>
          <h2>8. Logistics:</h2>
          <p>As an overseas student taking the SAT exam, one of the biggest issues can be logistics. If the University you are applying to does not have an electronic facility; “Allow transit time for the delivery of your exam, or check to see if you can send it electronically”.</p>
          <h2>9. Postgraduate Applications: </h2>
          <p>“If you plan to do a postgraduate course back home, make sure your US degree is accepted”. This is a very important piece of advice. Can you imagine spending four years majoring in the US only to come home and realise your degree does not qualify you entry to a post-grad course? Do your research early on and make sure your qualification is recognised back home.</p>
          <h2>10. SAT Subjects:</h2>
          <p>Not every University requires that you must sit an SAT subjects test so check in advance. “Check to see if the University you’re applying to requires you to sit just the SAT exam or SAT Subjects Exam also”.</p>
        </div>
      </div>
  </@layout.myLayout>